---
interface Props {
  showLinks?: boolean
}

const { showLinks = true } = Astro.props
---

<footer
  class="w-full pt-12 pb-2 text-center space-y-1.5 text-xs text-gray-500 tracking-wide"
>
  <p>&copy; 2026 Comercio Local</p>
  {
    showLinks && (
      <div class="flex justify-center gap-4">
        <a
          href="/nosotros"
          class="hover:text-gray-300 underline transition-colors"
        >
          ¿Quiénes somos?
        </a>
        <span class="text-gray-700">•</span>
        <a
          href="/nosotros#normas"
          class="hover:text-gray-300 underline transition-colors"
        >
          Normas de convivencia
        </a>
        <span class="text-gray-700">•</span>
        <a
          href="/nosotros#legales"
          class="hover:text-gray-300 underline transition-colors"
        >
          Términos legales
        </a>
      </div>
    )
  }
</footer>
