---

---

<a href="/" class="flex items-center gap-1 group">
  <span class="text-xl">🌱</span>
  <span
    class="font-bold transition-colors"
    style="color: var(--primary)"
    class:list={{ 'group-hover:text-emerald-400': true }}>Comercio Local</span
  >
</a>
